---
ip: "192.168.11.11"
name: Vagrant
memory: 2048
cpus: 2
gui: false
provider: virtualbox

authorize: ~/.ssh/id_rsa.pub

db_root_pwd: 'secret'

keys:
    - ~/.ssh/id_rsa

copy:
    - from: ./resources/mariadb.cnf
      to: /home/vagrant/mariadb

# folders:
#     - map: ~/Projects/Frappe
#       to: /home/vagrant/code

db_users:
    - user: 'frappe'
      password: 'secret'
      is_default: false

databases:
    - vagrant

features:
    - name: 'nginx'
      service:
          name: 'nginx'
          enabled: true

    - name: 'git'

    - name: 'redis'

    - name: 'nodejs'

    - name: 'python'

    - name: 'wkhtmltopdf'

    - name: 'bench'

# ports:
#     - guest: 80
#       host: 8000
#       protocol: 'tcp'
